@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

.navlinks {

    color: white;
}
body {
    background-color: rgb(0, 10, 19);
}