@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlinks {

    color: white;
}
body {
    background-color: rgba(0, 0, 0, 0.877);
}